*{
	padding: 0px;
	margin: 0px;
}
ul{list-style-type: none;}
.top{ width: 100%; height:85px;border-bottom: solid  #D8D8D8 1px; z-index: 998;
	   background-color: white;  }
	.inner-top{ width: 1200px; height: 80px; margin: 0 auto; font-family: "微软雅黑";  position: relative}
	.logo{height: 80px; width: 200px;  float: left; margin-left: 120px; }
		.logo img{height: 80px; width: 200px;}
		
.middle{height: 550px; margin-left:250px ;margin-top: 50px; }

.main{width: 100%; height: 1000px; border-left: solid  #D8D8D8 1px; border-right: solid  #D8D8D8 1px; ;
		 position: absolute; background-image: url(../img/bg.jpg); top: 85px;}
		.ci{font-size: 30px; font-family: zwadobef; color: rgba(0,0,0,0.4); 
			position: absolute; left: 20px; bottom: 20px; -webkit-user-select:none;}
		.introduce{font-size: 20px; font-family: "楷体"; color: rgba(0,0,0,0.4); 
						width: -webkit-fit-content; height: 30px;
						 position: absolute; right: 20px; bottom: 20px; -webkit-user-select:none;}
		.left{width: 210px; border: solid 2px; border-radius: 10px; position: absolute; left: 490px; top: 850px; opacity: 0; }
		.right{width: 210px;  border: solid 2px; border-radius: 10px; position: absolute; left: 810px; bottom: 175px;opacity: 0; }
		.main ul {list-style-type: none; margin-left: 53px;  font-size: 20px; line-height: 35px;}
			.main ul li{border-bottom: solid 2px; width:-webkit-fit-content; color: red;}
	.select{width: 800px; height: 200px; margin: 100px auto;font-family: "微软雅黑"; position: relative;}
		.OR{width: 80px; height: 40px; position: absolute;font-size: 25px; left: 380px; top: 100px;}
		.word{widows: 18px;0px; height:30px; line-height: 30px;  font-weight: 400; font-size: 25px; }
			.to{ margin-left: 40px; margin-top: 15px;}
			.bo{margin-left:150px ; margin-top: 117px;}
		.travel{width: 280px; height: 160px; border-top:  solid 1.5px; border-left:  solid 1.5px; border-top-left-radius: 10px; float: left; margin-top:20px; margin-left: 100px; position: relative;}
		.hotel{width: 280px; height: 160px; border-bottom:  solid 1.5px; border-right:  solid 1.5px; border-bottom-right-radius: 10px; float: right; margin-top: 80px; margin-right: 100px;position: relative;}
			.button-loc{width:160px; height:80px; position: absolute; left: 60px; top: 50px;}
				.button-loc a{display: block; width: 110px; height: 50px; font-size: 25px; line-height: 50px; color: black;
									margin:8px auto; text-align: center; border-top:solid 2px; border-left:solid 2px; border-right: solid 2px;
									border-top-left-radius: 10px;border-top-right-radius: 10px; transition: all 0.5s;
									 }
				.button-loc a:hover{border-bottom: solid red 6px; text-decoration: none;
									background-color: black; border-top: none; border-left: none; border-right: none ; color: white;
									transition: all 0.5s;}
.footer{width:100%;height:200px; text-align: center;background-color:#262426;margin:0 auto;position: absolute;bottom: -500px; color: white;}
